# .dockerignore for Python

# Byte-compiled files
__pycache__/
**/__pycache__
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Testing
.pytest_cache/
.tox/
.coverage
htmlcov/
coverage.xml
*.cover
tests/

# Build
*.egg-info/
dist/
build/
*.egg

# IDE
.idea/
.vscode/
**/*.pyc

# Environment
.env
.env.*

# Git
.git
.gitignore